body {
	padding: 0px;
	margin: 0px;
/*	background-color: #fdf9dd;*/
}

.editor {
	font-family: -apple-system;
	font-size: 15px;
	padding: 12px;
	border: 0px;
	border-radius: 0px;
/*	background-color: #fdf9dd;*/
	height: 100%;
}

.editor:focus {
	outline: 2px solid transparent;
}
